---
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"a">;

const { href, class: className, ...props } = Astro.props;

const { pathname } = Astro.url;
const subpath = pathname.match(/[^\/]+/g);
const isActive = href === pathname || href === "/" + subpath?.[0];
---

<a href={href} class:list={[className, { active: isActive }]} {...props}>
  <slot />
</a>

<style>
  a {
    display: inline-block;
    text-transform: uppercase;
    color: royalblue;
    font-size: smaller;
  }

  a.active {
    font-weight: bolder;
    color: black;
  }

  a:hover,
  a:focus {
    text-decoration: underline;
  }
</style>
