---
/*
 * This component is used to render the navigation items in the header.
 * It only renders the links when the screen size is "tailwind-small" or larger.
 */
import { type NavItem } from "../../types";
import HeaderLink from "./header-link.astro";
const { navItems } = Astro.props;
---

<nav class="hidden sm:flex space-x-8 mt-2">
  {
    navItems.map((item: NavItem) => (
      <HeaderLink href={item.path}>{item.label}</HeaderLink>
    ))
  }
</nav>
