---
const smallName = "HHAckerman";
const fullName = "Hamilton Hoxie Ackerman";
---

<a href="/">
  <div class="font-bold text-3xl">
    <span class="block sm:hidden text-2xl">{smallName}</span>
    <span class="hidden sm:block text-3xl">{fullName}</span>
  </div>
</a>
