---
import ResponsiveName from "./header/responsive-name.astro";
import HamburgerNavMenu from "./header/hamburger-nav-menu.astro";

import { Picture } from "astro:assets";
import headshotPicture from "../images/headshot-blue-square-600.png";

import { type NavItem } from "../types";
import PageLinks from "./header/page-links.astro";

const navItems: NavItem[] = [
  {
    path: "/about",
    label: "About",
  },
  {
    path: "/education",
    label: "Education",
  },
  {
    path: "/tutor",
    label: "Tutoring",
  },
  {
    path: "/projects",
    label: "Projects",
  },
];
---

<header class="flex flex-row items-center justify-between w-full mb-8">
  <div class="flex-shrink-0 mr-3 sm:mr-5">
    <a href="/">
      <Picture
        src={headshotPicture}
        formats={["webp", "avif", "jpeg"]}
        alt="A headshot of Hamilton Hoxie Ackerman, whose website you're visiting!"
        class="rounded-full w-10 h-10 | sm:w-16 sm:h-16"
      /></a
    >
  </div>

  <div
    class="flex flex-grow justify-between items-between sm:flex-col sm:items-start"
  >
    <ResponsiveName />
    <HamburgerNavMenu navItems={navItems} />
    <PageLinks navItems={navItems} />
  </div>
</header>
