---
const smallName = "HHAckerman";
const fullName = "Hamilton Hoxie Ackerman";
---

<div class="font-bold text-2xl">
  <span class="block sm:hidden">{smallName}</span>
  <span class="hidden sm:block">{fullName}</span>
</div>
