---
// Create a new route for each project in src/content/projects
// https://docs.astro.build/en/guides/content-collections/#building-for-static-output-default

import { getCollection } from "astro:content";

// 1. Generate a new path for every collection entry
export async function getStaticPaths() {
  const allProjects = await getCollection("projects");
  return allProjects.map((project) => ({
    params: { slug: project.slug },
    props: { project },
  }));
}

// 2. For your template, you can get the entry directly from the prop
const { project } = Astro.props;
const { Content } = await project.render();

// Load the page layout and render the content!
import Default from "../../layouts/default.astro";
---

<Default title={project.data.title}>
  <a href="/projects" class="mb-10 text-sm">← Back to Projects</a>
  <h1 class="mt-5">{project.data.title}</h1>
  <Content />
</Default>
