---
import "@fontsource-variable/inter";

import ResponsiveHeader from "../components/header.astro";

const { title } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta
      name="description"
      content="The personal webpage of Hamilton Hoxie Ackerman."
    />
    <meta name="generator" content={Astro.generator} />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/favicon/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/favicon/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/favicon/favicon-16x16.png"
    />
    <link rel="manifest" href="/favicon/site.webmanifest" />
    <title>{title ? `HHA - ${title}` : "HHAckerman"}</title>
  </head>

  <body class="px-8 py-10 leading-tight antialiased">
    <ResponsiveHeader />
    <main class="prose prose-a:hover:bold">
      <slot />
    </main>
  </body>
</html>

<style>
  main {
    max-width: 60ch;
  }
</style>
