---
import "@fontsource-variable/inter";

import ResponsiveHeader from "../components/header.astro";

const { title } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="generator" content={Astro.generator} />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{title ? `HHA - ${title}` : "HHAckerman"}</title>
  </head>

  <body class="px-8 py-10 leading-tight antialiased">
    <ResponsiveHeader />
    <main class="prose prose-a:hover:bold">
      <slot />
    </main>
  </body>
</html>

<style>
  main {
    max-width: 60ch;
  }
</style>
